.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #9466ff;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #9466ff;
}

.btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-edit {
  background-color: #008cba;
  margin-bottom: 15px;
  transition: 1s;
}

.btn-edit:hover {
  opacity: 0.5;
}

.btn-delete {
  transition: 1s;
  background-color: #f44336;
}

.btn-delete:hover {
  opacity: 0.5;
}

.btn-view {
  background-color: #b6b6b6;
  color: black;
  transition: 1s;
}

.btn-view:hover {
  opacity: 0.5;
}

.home {
  margin-top: 150px;
}

label {
  display: flex;
  text-align: left;
  color: #dddddd;
}