.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #9466ff;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #9466ff;
}

.btn {
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-edit {
  background-color: #23d160;
  margin-bottom: 15px;
  transition: 1s;
}

.btn-edit:hover {
  opacity: 0.5;
}

.btn-delete {
  transition: 1s;
  background-color: #f44336;
}

.btn-delete:hover {
  opacity: 0.5;
}

.btn-view {
  background-color: #b6b6b6;
  color: black;
  transition: 1s;
}

.btn-view:hover {
  opacity: 0.5;
}


label {
  display: flex;
  text-align: left;
  color: #dddddd;
}
/*Botão Adicionar sala*/

.btn-add {
  display: flex;
  justify-content: end;
  margin-right: 50px;
}
.btn-add p {
  float: left;
  padding: 12px 19px;
  background: #23d160;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

.btn-add p:hover {
  background-color: #9466ff;
  color: #fff;
  border-radius: 4px;
}

.btn-add p.active {
  padding: 12px 23px;
  background-color: #9466ff;
  border: 1px solid #121214;
  color: #fff;
  border-radius: 4px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: none;
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.card p {
  color: #fff;
  font-size: 16px;
}
 
.green {
  border-left: 3px solid #9466ff;
}
